/* css for the mainpage and search pages */

body {
    background-color: rgb(33, 33, 36);
    color:rgb(255, 189, 136);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'consolas';
}

.search-wrapper {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
}

.search-bar {
    width: auto;
    height: auto;
    position: relative;
    justify-content: center;
    display: flex;
}

#search {
    width: 80vw;
    height: 40px;
    color:rgb(255, 255, 255);
    background-color: rgb(255, 189, 136);
    border-radius: 5px;
    border: 0px;
    font-size: 20px;
    
}

#search:hover {
    background-color: rgba(255, 189, 136, 0.5);
}

#search-results {
    position: absolute;
    top: 50px;
}

ul.navbar {
    -webkit-app-region: drag;
    background-color: rgb(10, 10, 10);
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: flex;
    flex-direction: row;    
    align-items: center;
    position: relative;
    top: 0vh;
}

li.tab {
    -webkit-app-region: no-drag;
    width: auto;
    height: 35px;
}

li.tab > img {
    margin: 7px 30px;
    width: 20px;
}

li.tab > img:hover {
    opacity: 0.5;
}

.fill-remaining-space{
    flex: auto;
}

/* changing the color of placeholder text in the search box */
::placeholder{
    color:rgb(255, 255, 255);
}
